## ติดตั้งเครื่องมือ

pandas สำหรับการจัดการข้อมูล คำนวนข้อมูลตาราง

In [8]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\acer\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

openpyxl สำหรับการเปิดใช้ไฟล์ Excel

In [9]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\acer\anaconda3\lib\site-packages (3.0.4)
Requirement already satisfied: jdcal in c:\users\acer\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\acer\anaconda3\lib\site-packages (from openpyxl) (1.0.1)

## นำเข้าข้อมูลมาใช้งาน

In [2]:
import pandas as pd

## เปิดไฟล์ที่ต้องการ

ใช้การระบุ path file ที่ต้องการ กับคำสั่ง pd.read_excel()

In [45]:
south = pd.read_excel(r'C:\Users\acer\Desktop\fb ultimate python\library os\Excel\sub excel\sub sub excel\South.xlsx',engine='openpyxl',header=0)

## ตั้งชื่อ row

ใช้คำสั่ง set_index() รับชื่อ column ที่ต้องการ

In [47]:
south = south.set_index('Product')

## ทำซ้ำกับไฟล์ใหม่

In [118]:
north = pd.read_csv(r'C:\Users\acer\Desktop\fb ultimate python\library os\Excel\sub excel\sub sub excel\North.csv')

In [119]:
north = north.set_index('Product')

## การใช้ For Loop กับ DataFrame

การใช้ For Loop ธรรมดา

In [100]:
for s in south:
    print(s)

Qtr1
Qtr2
Qtr3
Qtr4

.itertuples()

In [109]:
for data in south.itertuples():
    print(list(data))

['Basil Leaf (Whole)', 8566, 9556, 8554, 7886]
['Celery Seed (Whole)', 8332, 8372, 7427, 5783]
['South Special', 4215, 1245, 3562, 2154]
['Caraway Seed (Whole)', 854, 966, 673, 755]
['Catnip Leaf', 854, 364, 474, 733]
['Anise Seeds', 833, 733, 1065, 1198]
['Cardamom Seed (Ground)', 822, 583, 833, 834]
['Asafoetida Powder', 753, 844, 1024, 1157]
['Bay Leaf (Whole)', 577, 855, 844, 734]
['Chamomile Flowers', 372, 842, 465, 366]
['Cardamom Seed (Whole)', 357, 733, 753, 632]

.iterrows()

In [107]:
for row, data in south.iterrows():
    print(row)

Basil Leaf (Whole)
Celery Seed (Whole)
South Special
Caraway Seed (Whole)
Catnip Leaf
Anise Seeds
Cardamom Seed (Ground)
Asafoetida Powder
Bay Leaf (Whole)
Chamomile Flowers
Cardamom Seed (Whole)

.iteritems()

In [110]:
for column, data in south.iteritems():
    for d in data:
        print(d)

8566
8332
4215
854
854
833
822
753
577
372
357
9556
8372
1245
966
364
733
583
844
855
842
733
8554
7427
3562
673
474
1065
833
1024
844
465
753
7886
5783
2154
755
733
1198
834
1157
734
366
632

## การสร้าง Filter

ใช้การเปรียบเทียบเพียงดึงข้อมูลด้วยการกำหนดเงื่อนไข

In [94]:
south[(south['Qtr1'] > 1000) & (south['Qtr3'] > 4000)]

                     Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)   8566  9556  8554  7886
Celery Seed (Whole)  8332  8372  7427  5783

## การดึงข้อมูล

การดึงข้อมูลด้วยชื่อ row

In [81]:
south.loc[['Catnip Leaf','Bay Leaf (Whole)']]

                  Qtr1  Qtr2  Qtr3  Qtr4
Product
Catnip Leaf        854   364   474   733
Bay Leaf (Whole)   577   855   844   734

การดึงข้อมูลด้วยชื่อ column

In [80]:
south[['Qtr1','Qtr3']]

                        Qtr1  Qtr3
Product
Basil Leaf (Whole)      8566  8554
Celery Seed (Whole)     8332  7427
South Special           4215  3562
Caraway Seed (Whole)     854   673
Catnip Leaf              854   474
Anise Seeds              833  1065
Cardamom Seed (Ground)   822   833
Asafoetida Powder        753  1024
Bay Leaf (Whole)         577   844
Chamomile Flowers        372   465
Cardamom Seed (Whole)    357   753

การดึงข้อมูลด้วยชื่อ ตำแหน่ง row, column

In [88]:
south.iloc[0,1]

Series([], Name: Qtr2, dtype: int64)

## การทำงานกับ Series

การดึง index, value ด้วย .iteritems()

In [125]:
ser = south['Qtr1']

In [130]:
for i, d in ser.iteritems():
    print(i,d)

Basil Leaf (Whole) 8566
Celery Seed (Whole) 8332
South Special 4215
Caraway Seed (Whole) 854
Catnip Leaf 854
Anise Seeds 833
Cardamom Seed (Ground) 822
Asafoetida Powder 753
Bay Leaf (Whole) 577
Chamomile Flowers 372
Cardamom Seed (Whole) 357

## การแก้ไขข้อมูล

ด้วยการกำหนดค่าสำหรับ column,row ที่กำหนด

In [114]:
north['Qtr1']['Basil Leaf (Whole)'] = 6778

## การแก้ไขข้อมูล ด้วย for loop

แก้ไขข้อมูลทั้ง DataFrame

In [131]:
for column, cd in north.iteritems():
    for i, data in cd.iteritems():
        north[column][i] = int(data[1:].replace(',',''))

## การเช็คประเภทข้อมูล

ดู object ข้อมูลที่อยู่ใน DataFrame

In [138]:
north.dtypes

Qtr1    object
Qtr2    object
Qtr3    object
Qtr4    object
dtype: object

## การเลือกแสดงข้อมูล

กำหนด Object ที่ต้องการด้วย .astype()

In [137]:
north.astype('int')

                        Qtr1  Qtr2  Qtr3  Qtr4
Product
Basil Leaf (Whole)      6778  6760  4568  7834
Celery Seed (Whole)     3634  6344  6423  2546
North Special            875  1452   254  2451
Catnip Leaf              854   364   474   743
Asafoetida Powder        654   634   326   754
Anise Seeds              534   423   521   625
Cardamom Seed (Ground)   422   642   642   624
Chamomile Flowers        356   634   632   743
Caraway Seed (Whole)     354   633   422   255
Cardamom Seed (Whole)    255   525   252   624
Bay Leaf (Whole)         233   532   525   652